@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px; }

.half-slider {
  height: 80vh;
  margin: 10vh;
  overflow: hidden;
  color: white;
  position: relative; }
  .half-slider .half-slider-inner {
    width: calc(100% + 25px);
    overflow: auto;
    position: relative;
    height: 80vh; }
  .half-slider .slider {
    position: absolute;
    width: 50%; }
    .half-slider .slider.left {
      top: 0px;
      left: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .half-slider .slider.right {
      bottom: 0px;
      right: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
  .half-slider .slide {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15%; }
    .half-slider .slide.img {
      background-size: cover; }
    .half-slider .slide:nth-child(1), .half-slider .slide:nth-child(4) {
      background-color: #A9A9A9; }
    .half-slider .slide:nth-child(2) {
      background-color: #1E191E; }
    .half-slider .slide:nth-child(3) {
      background-color: #5F5F5F; }
  .half-slider .tagline {
    font-size: 0.8em; }
  .half-slider .title {
    font-size: 4em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1em; }
  .half-slider .slide-btn {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
    width: 50px;
    text-align: center;
    margin: 50px 0px; }
    .half-slider .slide-btn:hover, .half-slider .slide-btn:active {
      color: white;
      border: 1px solid white;
      text-decoration: none; }

.fading-slides {
  height: 100vh;
  text-align: center; }
  .fading-slides .slide {
    display: none;
    height: 100%; }
    .fading-slides .slide .slide-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      padding: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .fading-slides .slide.dark {
      background: black;
      color: white; }
    .fading-slides .slide:nth-child(1) {
      display: block; }
